@font-face {
    font-family: 'BogleBold';
    src: url('bold') format('woff2');


    font-family: 'Bogle';
    src: url('regular') format('woff2');

}



.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.containericon {
    position: absolute;
    width: 250px;
    height: 242px;
}

.image {
    opacity: 1;
    display: block;
    width: 250px;
    height: 242px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.containericon:hover .image {
  opacity: 1;
}

.containericon:hover .middle {
  opacity: 1;
}

.text {
  background-color: #f4b531;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
}

.imagereports {
    opacity: 1;
    display: block;
    width: 500px;
    height: 100px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.containerreporticon {
    position: absolute;
    width: 500px;
    height: 100px;
}
.hidden {
    display: none;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }

.btn-success {
  color: #fff;
  background-color: #FFC220;
  border-color: #FFC220; }
  .btn-success:hover {
    color: #fff;
    background-color: #139CD8;
    border-color: #139CD8; }
  .btn-success:focus, .btn-success.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5); }
  .btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #FFC220;
    border-color: #FFC220; }
  .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
  .show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #FFC220;
    border-color: #FFC220; }
    .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
    .show > .btn-success.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5); }
    
